* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #38d39f;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #283339, #4b6978, #4b6978);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

  .modal {
    background:rgba(0,0,0,0.7);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    bottom:0px;
    transition:all .5s ease-in-out;
    opacity:0;
    z-index:-1;
  }
  .modal:target {
    opacity:1;
    transition:all .5s ease-in-out;
    z-index:+1;
  }
  .modal-content {
    position:fixed;
    top:50%;
    left:50%;
    width:500px;
    background:#fff;
    border-radius:4px;
    transform:translate(-50%, -200%);
    transition:all .5s ease-in-out;
    perspective: 1000;
    outline:1px solid transparent;
    opacity:0;
  }
  .modal:target .modal-content {
    transform:translate(-50%, -50%);
    transition:all .5s ease-in-out;
    transition-delay:.5s;
    z-index:9999;
    opacity:1;
  }
  .modal-close {
    float:right;
    text-decoration:none;
    padding:22px 22px;
    color:#424242;
    font-weight:800;
    transition:all .5s ease-in-out;
    z-index:+1;
    background:rgba(0,0,0,0.1);
    text-align:center;
    border-radius:0 4px 0 0;
  }
  .modal-close:hover {
    color:#fff;
    background:rgba(0,0,0,0.5);
  }
  .modal-content h3 {
    padding:20px;
    display:block;
    text-align:center;
    border-bottom:1px solid #e0e0e0;
    text-transform:uppercase;
    background:rgba(2,162,239,1);
    color:#fff;
    border-radius:4px 4px 0 0;
  }
  .modal-area {
    padding:20px;
  }
  
  .modal-area input[type="radio"] {
    display:none;
  }
  .modal-area label {
    float:left;
    display:block;
    padding:10px 20px;
    font-weight:700;
    cursor:pointer;
    z-index:+2;
    background:rgba(0,0,0,.3);
    color:#fff;
    transition:all .5s ease-in-out;
  }
  .modal-area input[type="radio"]:checked + label {
    background:#fff;
    color:#424242;
  }
  .tab-list {
    display:block;
    padding:0;
    margin:0;
    list-style-type:none;
    width:100%;
    overflow:hidden;
    height:150px;
  }
  .tab-list:before {
    content:"";
    display:block;
    height:0;
    clear:both;
  }
  .modal-tab {
    display:inline-block;
    width:100%;
    padding-top:20px;
    transform:translateX(-150%);
    transition:all 300ms cubic-bezier(0, 0, .40, 1);
    opacity:0;
    top:0px;
    position:absolute;
    height:150px;
    perspective:1000;
  }
  #opentab1:checked ~ .tab-list .tab1 {
    transform:translateX(0%);
    opacity:1;
  }
  #opentab2:checked ~ .tab-list .tab2 {
    transform:translateX(0%);
    opacity:1;
  }
  #opentab3:checked ~ .tab-list .tab3 {
    transform:translateX(0%);
    opacity:1;
  }

  .img {
    animation: fadeInRight 1s ease-in-out;
  }

  .login-content {
    animation: fadeInRight 1s ease-in-out;
  }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
  }
}
  